.productCreate {
  margin: 10px;
  color: rgb(197, 11, 190);
}

.formProduct {
  padding-left: 15px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 80%;
  background-color: rgb(54, 9, 160);
  border: 1px solid black;
}

.errorProduct{
  text-align: center;
  color: rgb(54, 9, 160);
  font-size: 20px;
}

.productCreateTitle {
  text-align: center;
  color: rgb(197, 11, 190);
}

.formUpdateUser {
  padding-left: 15px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 80%;
  background-color: rgb(54, 9, 160);
  border: 1px solid black;
}

.titleUpdateUser {
  text-align: center;
  color: rgb(197, 11, 190);
}

.updateUSer {
  margin: 10px;
  color: rgb(197, 11, 190);
}

.buttonAdmin {
  background-color: rgb(197, 11, 190);
  cursor: pointer;
  /* width: 15px; */
  padding: 2px;
  border: none;
  border-radius: 3px;
}

.input {
  margin: 5px;
  border: 1px solid black;
}