body {
  margin: 0; 
}

.nav {
background-color: rgb(255, 192, 239);
margin-right: 50px;
display: flex;
justify-content: flex-start;
width: 100%;
}

.linkUser {
  text-decoration: none;
  color: rgb(197, 11, 197);
}

.userName {
  margin: 0;
  padding-right: 10px;
  color: rgb(197, 11, 197);
}

.userSaldo {
  padding-left: 5px;
  color: rgb(197, 11, 197);
}

.divUser {
  padding-left: 15px;
  padding-right: 80%;
}