body {
  margin: 0; 
}

.navAdmin {
background-color: rgb(54, 9, 160);
margin-right: 50px;
display: flex;
justify-content: flex-end;
width: 100%;
}

.linkAdmin {
  text-decoration: none;
  color: rgb(197, 11, 190);
}


.adminName {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(54, 9, 160);
  color: rgb(197, 11, 190)
}

.divAdmin {
  padding-left: 15px;
  padding-right: 1%;
  background-color: rgb(54, 9, 160);
  border-left: 1px solid rgb(54, 9, 160);
}